body {
	font-family: Ubuntu, sans-serif;
	background-color: #0b61a4;
	color: #fff;
}

header {
	width: 960px;
	margin: 16px auto 0 auto;
	text-align: center;
	background-color: #ff6060;
	padding: 8px;
	border: 8px red solid;
	border-radius: 16px;
	display: block;
}

header h1 {
	font-size: 36pt;
	font-weight: bold;
}

nav {
	margin: 0 auto;
	width: 960px;
}

nav ul {
	text-align: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	height: 32px;
	font-size: 12pt;
	background-color: #ff6060;
	border-right: 8px red solid;
	border-left: 8px red solid;
	border-bottom: 8px red solid;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0;
	margin: 0 16px;
}

nav ul li a {
	display: inline-block;
	margin: 0;
	padding: 8px 16px;
	text-decoration: none;
	color: #fff;
}

.super-hero-list {
	margin: 8px auto;
	width: 960px;
	padding: 0;
}

.super-hero-list li {
	display: inline-block;
	margin: 8px;
	padding: 0;
}

.super-hero-list li a {
	display: inline-block;
	margin: 0;
	padding: 8px;
	width: 424px;
	border: 4px #ff6060 solid;
	border-radius: 4px;
	background-color: #ffa8a8;
	text-align: center;
	color: #ff6060;
}

.super-hero-list li img {
	width: 192px;
	margin: 8px auto;
	display: block;
	border: 1px #ffa8a8 solid;
	outline: 1px #ff6060 solid;
	border-radius: 3px;
}