* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header a, footer, nav ul li a, .super-hero-list li a, section.main {
	background-color: #2fb335;
	color: #fff;
	border: 8px #057c1c solid;
}

.thumbnail img, .super-hero-list li img {

	border: 1px #2fb335 solid;
	outline: 1px #057c1c solid;
}

body {
	background-color: #056;

	font-family: Ubuntu, sans-serif;
	color: #daa520;
	max-width: 960px;
	margin: 16px auto;
}

header {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	display: block;
}

header a {
	overflow: auto;
	display: block;
	text-decoration: none;
	padding: 8px;
	border-radius: 16px;
}

header h1 {
	font-size: 36pt;
	font-weight: bold;
}

nav {
	margin: 0 auto;
	width: 960px;
}

nav ul {
	text-align: center;
	margin: 0 0 16px 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	font-size: 12pt;
	padding: 0;
	margin: 0 16px;
}

nav ul li a {
	display: inline-block;
	margin: 0;
	padding: 8px 16px;
	text-decoration: none;
	border-top: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.super-hero-list {
	margin: 8px auto;
	padding: 0;
	text-align: center;
}

.super-hero-list li {
	display: inline-block;
	margin: 8px;
	padding: 0;
}

.super-hero-list li a {
	display: inline-block;
	margin: 0;
	padding: 8px;
	width: 462px;
	border-radius: 4px;
	border-width: 4px;
	text-align: center;
	text-decoration: none;
}

.super-hero-list li img {
	margin: 8px auto;
	display: block;
	border-radius: 3px;
}

section.main {
	padding: 8px;
	margin: 16px 0;
	border-radius: 16px;
}

.thumbnail
{
	float: left;
	margin: 16px;
}

aside.identity-card:after
{
	display: block;
	clear: left;
}

aside.identity-card p {
	text-align: justify;
}

.characteristics {
	text-align: center;
}

.characteristics aside {
	vertical-align: top;
	display: inline-block;
	width: 25%;
	margin: 0;
}

.characteristics aside h3 {
	font-size: 14pt;
	text-align: center;
}

.characteristics aside ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

footer {
	border-radius: 16px;
	margin: 0 auto;
	padding: 8px;
	font-size: 10pt;
	text-align: center;
}

footer p {
	margin: 4px;
}

footer a {
	text-decoration: underline;
	color: #ccc;
}

.disclaimer {
	font-size: 8pt;
	color: silver;
	text-align: center;
	margin: 16px;
}

.disclaimer a {
	color: silver;
}

/* responsive design */
@media screen and (max-width: 768px) {
	body {
		width: auto;
	}

	.super-hero-list li {
		display: block;
	}

	.super-hero-list li a {
		display: block;
		width: auto;
	}

	.thumbnail {
		float: none;
		text-align: center;
		margin: 16px auto 0;
	}

	.characteristics aside {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.characteristics aside {
		display: block;
		width: auto;
	}
}